@import url(./reset.css);

/*=====================上層選單===================*/
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans";
} */


.wrapper{
  margin: 0 auto;
  max-width: 1200px;
}

/* 頁面背景與文本樣式 */
body {
  background-color: #f9f9f9;
  color: #333;
}

.wrapper{
  max-width: 1200px;
  margin: 0 auto;
}

/* 圓形裝飾 */
.circle-container {
  position: relative;
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  z-index: -1;
  margin:0 auto;
}

.circle {
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}

.gray-circle {
  width: 120px;
  height: 120px;
  background-color: #e0e0e0;
  top: 20px;
  left: -35px;
  z-index: -1;
}

.yellow-circle {
  width: 100px;
  height: 100px;
  background-color: #f4b400;
  top: 110px;
  right: 10px;
  z-index: -1;
}

.text {
  font-size: 68px;
  font-weight: bold;
  color: #fa7a3d;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  font-family:"DM Sans";
  margin: 0 auto;
}

/* 卡片容器 */
.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 每行最多 2 個卡片 */
  gap: 40px;
  padding: 60px;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
}

/* 卡片樣式 */
.card {
  position: relative;
  /* border: 1px solid #FFA94D; */
  border-radius: 30px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  width: 470px;
  margin-bottom: 50px;
  margin: 0 auto;

}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

/* 卡片圖片 */
.card-image {
  width: 100%;
  height: auto;
  border-radius: 30px;
  transition: opacity 0.3s ease;
}

.card-image:hover {
  opacity: 0.7;
}

/* 卡片文字覆蓋層 */
.overlay-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(255, 137, 10, 0.8);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  padding: 20px 20px;
  border-radius: 50px;
}


