@import url(./CSS/reset.css);
/* Reset */
html, body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f5f5f5;
}

/* Container Styles */
.container09 {
    position: relative;
    width: 90vw;
    height: 90vh;
    max-width: 90vh;
    max-height: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 9px;
    border: 2px dashed #ccc; /* 用於測試 */
}


/* Flair Elements */
.flair {
    cursor: pointer;
    width: 50px;
    height: 50px;
    max-height: 15vh;
    max-width: 15vh;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

/* Individual Flair Styles */
.flair--4b {
   width: 10px;
}
.flair--4b img {
    position: absolute; /* 絕對定位 */
    top: 50px; /* 初始位置 */
    left: 50px; /* 初始位置 */
    width: 200px; /* 圖片寬度 */
    height: auto; /* 自動調整高度 */
    z-index: 1000; /* 保證在其他內容之上 */
    cursor: grab; /* 拖動時顯示手型圖標 */
}

.flair--4b img:active {
    cursor: grabbing; /* 拖動過程中的圖標 */
}