@import url(./CSS/reset.css);
/* Reset */
      .collapsed {
        width: 48px !important;
        height: 48px !important;
        border-radius: 24px !important;
        margin: 16px!important;
        font-family: "DM Sans";
      }
  
      .main-card {
        background: white;
        color: white;
        width: 100%;
        height: 100%;
        margin: 0px;
        border-radius: 0px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        right: 0;
        bottom: 0;
        position: absolute;
        transition: all 0.5s;
        box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
        font-family: "DM Sans";
      }
  #chatbot_toggle {
    position: absolute;
    right: 0;
    border: none;
    height: 48px;
    width: 48px;
    background:#FF881A;
    padding: 14px;
    color:white;
  }
  #chatbot_toggle:hover {
    background:#FF881A;
  }
  .line {
    height: 1px;
    background-color: #FF881A;
    width: 100%;
    opacity: 0.2;
  }
  .main-title113 {
    background-color: #FF881A;
    font-size: large;
    font-weight: normal;
    display: flex;
    height: 48px;
    font-family: "DM Sans";
  }

  .main-title113>div{
    height:48px;
    width:48px;
    display:flex;
    margin-left:4px;
    margin-top: 10px;
  }
  .main-title113 svg {
    height: 16px;
    margin: auto;
    /* margin-top: 8px; */
  }

  .main-title113 > span {
    margin: auto auto auto 8px;
    font-family: "DM Sans";
    margin-top: 16px;
  }
  .chat-area {
    flex-grow: 1;
    overflow: auto;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    font-family: "DM Sans";
  }
  .input-message {
    padding: 8px 48px 8px 16px;
    flex-grow: 1;
    border: none;
    font-family: "DM Sans";
  }
  .input-message:focus {
    outline: none;
  }
  .input-div {
    height: 48px;
    display: flex;
  }
  
  .input-send {
    background: transparent;
    width: 48px;
    height: 48px;
    right: 0%;
    border: none;
    cursor: pointer;
    text-align: center;
    font-family: "DM Sans";
  }
  .input-send:hover {
    background: lavender;
  }
  .input-send svg {
    fill:#FF881A;
    margin: 10px 8px;

  }
  .chat-message-div {
    display: flex;
  }
  
  .chat-message-sent {
    background-color: rgba(244, 180, 0, .8);
    margin: 8px 16px 8px 64px;
    padding: 8px 16px;
    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 100ms;
    color: #fff;
    border-radius: 8px 8px 2px 8px;
    background-color: lavender;
    font-family: "DM Sans";
  }
  
  .chat-message-received {
    background-color: white;
    margin: 8px 64px 8px 16px;
    padding: 8px 16px;
    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 100ms;
    color: #333;
    border-radius: 8px 8px 8px 2px;
    background-color: lavender;
    font-family: "DM Sans";
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  