/* ====================1440px RWD========================= */
@media screen and (max-width:1440px){
}
/* ====================1200px RWD========================= */
@media screen and (max-width:1200px){
}

/* ====================820px RWD========================= */
@media screen and (max-width:820px){

    .footer {
        padding: 20px 10px;
    }

    .footer-top {
        flex-direction: column; /* 垂直排列 */
        gap: 10px;
    }

    .logo-section {
        justify-content: center;
        text-align: center;
    }

    .footer-logo {
        margin: 0 auto;
        width: 200px; /* 小螢幕下縮小 Logo */
    }

    .icons {
        gap: 10px;
    }

    .icon-link img {
        width: 24px; /* 小螢幕下縮小圖標 */
        height: 24px;
    }

    .footer p {
        font-size: 18px; /* 小螢幕字體調整 */
    }

}


/* =====================430px RWD============================== */
@media screen and (max-width: 430px) {
    .footer {
        padding: 20px 10px;
    }

    .footer-top {
        flex-direction: column; /* 垂直排列 */
        gap: 10px;
    }

    .logo-section {
        justify-content: center;
        text-align: center;
    }

    .footer-logo {
        margin: 0 auto;
        width: 200px; /* 小螢幕下縮小 Logo */
    }

    .icons {
        gap: 10px;
    }

    .icon-link img {
        width: 24px; /* 小螢幕下縮小圖標 */
        height: 24px;
    }

    .footer p {
        font-size: 18px; /* 小螢幕字體調整 */
    }
}

/* ====================412px RWD========================= */

@media screen and (max-width: 412px) {
    .footer {
        padding: 20px 10px;
    }

    .footer-top {
        flex-direction: column; /* 垂直排列 */
        gap: 10px;
    }

    .logo-section {
        justify-content: center;
        text-align: center;
    }

    .footer-logo {
        margin: 0 auto;
        width: 200px; /* 小螢幕下縮小 Logo */
    }

    .icons {
        gap: 10px;
    }

    .icon-link img {
        width: 24px; /* 小螢幕下縮小圖標 */
        height: 24px;
    }

    .footer p {
        font-size: 18px; /* 小螢幕字體調整 */
    }
}

/* ====================390px RWD========================= */

@media screen and (max-width: 390px) {
    .footer {
        padding: 20px 10px;
    }

    .footer-top {
        flex-direction: column; /* 垂直排列 */
        gap: 10px;
    }

    .logo-section {
        justify-content: center;
        text-align: center;
    }

    .footer-logo {
        margin: 0 auto;
        width: 200px; /* 小螢幕下縮小 Logo */
    }

    .icons {
        gap: 10px;
    }

    .icon-link img {
        width: 24px; /* 小螢幕下縮小圖標 */
        height: 24px;
    }

    .footer p {
        font-size: 18px; /* 小螢幕字體調整 */
    }
}